<div id="container">
	<div class="action-bar">
	<% if session['access_token'] %>
		<div class='text'>Welcome, <%= @profile["name"] %> <a href='/logout' class="button" >Logout</a></div>
	<% else %>
		<a href='/login' class="button" >Login</a>
	<% end %>
	</div>
	<div>
		<h1>Welcome to your Likes page</h1>	
		<% if @likes %>
			<%if @categories %>
			<% @categories['category'].uniq.each do | category |%>
				<div class='card'>
					<div class='action-bar'><%= category %></div>
					<ul class='stream'>
						<% @likes.each do |like| %>
				    		<%= if like["category"] == category then '<li>' + like["name"] + '</li>'  end %>
						<% end %>
					</ul>
				</div>
				<br/>
			<% end %>
			<%else%>
				<div>
					<ul class='stream'>
			  		<% @likes.each do |like| %>
			    		<li ><%= like["name"] %></li>
			  		<% end %>
					</ul>
				</div>
			<% end %>
		<% else %>
			<ul class='stream'>
				<li>Please login to see your likes</li>
			</ul>
			<% end %>
	</div>			
</div>	