<html>
<head>
<link rel="stylesheet" type="text/css" href="facebook.css">
</head>
<body>
<% if session['access_token'] %>
  Welcome, <%= @profile["name"] %> | <a href='/logout' class="gray" >Logout</a>
<% else %>
  <a href='/login' class="blue" >Login</a>
<% end %>

<h3>Welcome to your Likes page</h3>
<% if @likes %>
<div>
  <% @likes.each do |like| %>
    <div><%= like["name"] %></div><br/>
  <% end %>
</div>
<% else %>
  <div>Please login to see your likes</div>  
<% end %>
</body>
</html>
