<% if session['access_token'] %>
  Welcome, <%= @profile["name"] %> | <a href='/logout'>Logout</a>
<% else %>
  <a href='/login'>Login</a>
<% end %>

<h3>Welcome to your Likes page</h3>
<% if @likes %>
<div>
  <% @likes.each do |like| %>
    <div><%= like["name"] %></div><br/>
  <% end %>
</div>
<% else %>
  <div>Please login to see your likes</div>  
<% end %>