<!DOCTYPE HTML>
<html>
	<head>
		<meta property="og:title" content="My Likes"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content="http://mylikesonfacebook.heroku.com/">
		<meta property="og:site_name" content="My Likes on Facebook">
		<meta property="fb:admins" content="721536232">
		<title>My Likes on Facebook</title>
		<link rel="stylesheet" type="text/css" href="facebook.css">
	</head>
	<body>
		<%= yield %>
	</body>
</html>