<!DOCTYPE HTML>
<html>
	<head>
		<meta property="og:title" content="My Likes"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content="http://mylikesonfacebook.heroku.com/">
		<meta property="og:site_name" content="My Likes on Facebook">
		<meta property="fb:admins" content="721536232">
		<title>My Likes on Facebook</title>
		<style>
      		body { font-family: Arial; font-size: 20px ;}
      		a { text-decoration: none; color: #333; }
      		.logout a { color: #2554C7; font-size: 15px; }
      		.article { font-size: 1.2em; }
      		.like_site { font-size: 0.8em }
    	</style>
	</head>
	<body>
		<%= yield %>
	</body>
</html>